@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes shoot {
    from {
      transform: translateX(4.1rem)translateY(-7.9rem)rotate(-45deg);
    }
    to {
      transform: translateX(2000%)translateY(-2000%)rotate(-45deg);
    }
  }

  
  @media only screen and (min-width: 900px) {
    .image-container {
        position: relative;
        width:50rem;
      }
    
      @keyframes shoot {
        from {
          transform: translateX(4.1rem)translateY(-8.4rem)rotate(-45deg);
        }
        to {
          transform: translateX(6000%)translateY(-6000%)rotate(-45deg);
        }
    }
  }
  @media only screen and (min-width: 1000px) {
    .image-container {
        position: relative;
        width:50rem;
      }
    
      @keyframes shoot {
        from {
          transform: translateX(4.1rem)translateY(-6.4rem)rotate(-45deg);
        }
        to {
          transform: translateX(6000%)translateY(-6000%)rotate(-45deg);
        }
    }
  }

  button {
    margin-top: 0;
    background-color: transparent;
    padding: 0.5rem;
    border: solid black 2px;
    border-radius: 10%;
    font-size: 0.8rem;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;    
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.outline-button{
    text-decoration: none;
    font-family:lato, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 1.25rem;
    border: 1px solid white;
}

.lilac{
    border: 2px solid black;
    border-radius: 5%;
    color:black;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
}
/* header component */

header{
    display: flex;
    background-color: #76d1f6;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

#headerdiv{
    position: relative;
    text-align: center;
}

#brand {
    position: relative;
    text-align: center;
    width: 20%;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid black;
}

nav {
    display:flex;
    background-color: #76d1f6;
    justify-content: space-around;
    width:100%;
}

nav a {
    font-family: 'Press Start 2P', cursive;    text-decoration: none;
    font-size: 0.7rem;
    color:black;
}

/* hero component */

#hero {
    display:flex;
    flex-direction: column;
    background:black url(/images/header.jpg), url(images/header.jpg) 33% no-repeat;
    background-size: cover;
    align-items: center;
    padding: 2rem 0;
}

#hero h1, #hero a {
    color: black;
    padding: 2.5rem;
}

#hero h1 {
    font-family: 'Press Start 2P', cursive;    
    font-size: 1.3rem;
    font-weight: normal;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 1rem;
    z-index: 3;
}


#hero img{
    width: 50%;
    border-radius:20%;
    border: black solid 5px;
}

#me{
    animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
}
}


#round {
    display: flex;
    position: absolute;
  width: 2.5rem;
  height:2.5rem;
  transform: translateX(4.1rem) translateY(-7.6rem)rotate(-45deg);
  transition: transform 2s ease-in-out;
  z-index: 1;
  }

/* Main Content */

main {
    /* width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem; */
    padding: 0px;
    font-size: 14px;
    margin: 0px;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #a2d228, rgb(14, 117, 0), rgb(59, 44, 0));
}
  
  .box-cards-blog {
    max-width: 1450px;
    margin: auto;
    padding: 20px 40px; }
  
  .card {
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 20px; }
    .card:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04); }
    .card .card-image {
      width: 30%; }
      .card .card-image img {
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; }
    .card .card-meta {
      width: 70%;
      padding: 1rem;
      flex: 1;
      margin-left: 1rem; }
    .card .card-title {
      font-family: 'DM Serif Display', serif;
      font-size: 2rem;
      margin: 0px;
      margin-bottom: 1rem; }
      .card .card-title > a {
        display: block;
        color: #081F32;
        text-decoration: none; }
        .card .card-title > a:hover {
          color: #007AE9; }
    .card .card-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
      .card .card-top .cat {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #6E798C; }
        .card .card-top .cat:hover {
          color: #007AE9; }
      .card .card-top .date {
        color: #6E798C; }
    .card .card-bottom {
      display: flex;
      margin-top: 1rem;
      justify-content: space-between; }
      .card .card-bottom .avatar {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem; }
        .card .card-bottom .avatar img {
          width: 32px;
          height: 32px;
          justify-content: space-between; }
      .card .card-bottom .username {
        color: #007AE9;
        font-weight: 600; }
      .card .card-bottom .readmore {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #007AE9;
        font-weight: 600;
        transition: transform 0.3s ease; }
        .card .card-bottom .readmore:hover {
          transition: transform 0.3s ease;
          transform: translateX(-10px); }
        .avatar img {
            border-radius: 50%;
        }
  
  .box-cards-blog.-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .box-cards-blog.-grid .card {
      width: calc(33.33333% - 10px);
      display: block;
      padding: 1rem; }
      .box-cards-blog.-grid .card .card-title {
        font-size: 1.5rem; }
      .box-cards-blog.-grid .card .card-image {
        width: 100%; }
        .box-cards-blog.-grid .card .card-image img {
          border-radius: 20px;
          width: 100%; }
      .box-cards-blog.-grid .card .card-meta {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
        margin-top: 1rem; }
  
  .tabs {
    text-align: center;
    max-width: 200px;
    margin: auto;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between; }
    .tabs .tab {
      width: calc(50% - 5px);
      text-align: center;
      padding: 7px 10px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      cursor: pointer; }
      .tabs .tab:hover {
        background-color: #f5f5f5; }
      .tabs .tab.active {
        background-color: #007AE9;
        color: #fff;
        border-color: #007AE9; }
    
    .card-desc {
      --max-lines:3;
      overflow: hidden;
      --line-height:1.4;
      max-height: calc(var(--max-lines) * 1em * var(--line-height));
      line-height: var(--line-height);
      position: relative;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .card-desc:has(+ .expand-btn:not(:checked)):before {
      content:"";
      position: absolute;
      height: calc(1em * var(--line-height));
      width: 100%;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent,white);
    }
    .expand-btn {
      display: absolute;
      justify-content:right;
      appearance: none;
      border: 1px solid black;
      padding: 0.5em;
      border-radius: 0.25em;
      cursor: pointer;
      margin-top: 1rem;
    }
    .expand-btn:hover {
      background-color: #CCC;
    }
    .expand-btn:before {
      content: "Expand";
    }
    .expand-btn:checked::before {
      content: "Collapse";
    }
    .card-desc:has(+.expand-btn:checked) {
      max-height: none;
    }
  
  /*Responsive*/
  @media (max-width: 991px) {
    .box-cards-blog.-grid {
      display: block; }
      .box-cards-blog.-grid .card {
        width: 100%;
        display: flex; }
        .box-cards-blog.-grid .card .card-image {
          width: 200px; }
        .box-cards-blog.-grid .card .card-meta {
          margin-left: 20px;
          margin-top: 0px; } }
  
  @media (max-width: 768px) {
    .box-cards-blog {
      padding: 20px; }
    .card {
      display: block; }
    .card .card-image {
      width: 100%; }
      .card .card-image img {
        border-radius: 20px; }
    .card .card-meta {
      width: 100%;
      margin-left: 0px; }
    .box-cards-blog.-grid .card {
      display: block; }
      .box-cards-blog.-grid .card .card-image {
        width: 100%; }
      .box-cards-blog.-grid .card .card-meta {
        margin-left: 0px;
        margin-top: 1rem; } 
      }


/* Social links component */
#social-links {
    background: linear-gradient(to bottom, rgb(59, 44, 0), black);
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'bree-serif','Times New Roman', times, serif;
    padding: 1rem;
}

#social-links p{
    font-family:'bree-serif','Times New Roman', times, serif;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}
#social-links > div{
    width: 100%;
    display:flex;
    justify-content: space-around;
}
#git img{
  max-width: 50px; 
  max-height: 50px
}
/* Footer component */
footer {
    text-align: center;
    padding: 1.5rem;
    background: black;
}

footer p{
    font-family:'bree-serif','Times New Roman', times, serif;
    font-size: 1.25rem;
    color: white;
}

@media only screen and (min-width: 1000px) {
    
    /* Desktop Nav */
    
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #76d1f6;
        padding: 0.2vh 1.5rem 0vh 1rem;
    }
    #headerdiv{
        position: relative;
        text-align: start;
        margin-top: 1rem;
    }
    
    nav {
        display:flex;
        background-color: #76d1f6;
        justify-content: space-around;
        width:100%;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav a {
        font-family: 'Press Start 2P', cursive;    
        text-decoration: none;
        font-size: 1rem;
        margin-left: 8rem;
        color:black;
    }
    
    
    /* Desktop Hero */
    
    #hero {
        display:flex;
        flex-direction: column;
        background:black url(docs/header.jpg) 100% no-repeat;
        background-position: top;
        background-size: cover;
        align-items: center;
        padding: 2rem 0;
    }
    #hero img{
        width: 25%;
        border-radius:20%;
        border: black solid 5px;
    }
    button {
        margin-top: 0;
        background-color: transparent;
        padding: 0.5rem;
        border: solid black 2px;
        border-radius: 10%;
        font-size: 1.5rem;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;    
      }
      #hero h1 {
        font-family: 'Press Start 2P', cursive;    
        font-size: 2.5rem;
        font-weight: normal;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: 1rem;
        z-index:3;
    }

    #cannon {
        display: flex;
        position: absolute;
        width: 30%;
        display: flex;
        transform:translateY(-100%);
        z-index:2;
    }
    
    
    #round {
        display: flex;
        position: absolute;
      width: 2.5rem;
      height:2.5rem;
      transform: translateX(4.1rem) translateY(-7.6rem)rotate(-45deg);
      transition: transform 2s ease-in-out;
      z-index: 1;
      }
    
    /* Desktop Main */
    
}